.width-not {
  min-width: 300px;
}
.bg_table_header {
  background-color: #2e86de;
}
.bg_table_body {
  background-color: rgba(134, 159, 167, 0.4);
}
.paginationTable {
  margin-top: 50px;
}
.icon_position {
  transform: rotate(180deg);
}
.bg_space {
  background-color: #fdfdfd !important;
}
.bg_tbody-dark {
  border: 1px solid #ffffff;
}
.bg_tbody {
  border: 1px solid #2e86de;
}
.cursor_pointer {
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.ul_style {
  list-style-type: none;
  padding: 0;
}
.avatar_name {
  border-radius: 100%;
  padding: 6px 5px;
  margin-right: 8px;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  box-shadow: none;
}
